<% include ./partials/header %>
<% include ./partials/navigation %>

	<div class="container">
		<div class="col-md-8">
			<% var orientation; %>
			<% rpi_location.forEach(function(item){ %>
				<% if (item.RpiID == ID) { %>
					<h1><%= item.Room %> <small>(RpiID: <span id="tv_id"><%= item.RpiID %></span>)</small></h1>
				<% orientation = item.Orientation %>
				<% } %>
			<% }); %>
						<span id="orientation-type" style="display: none;"><%= orientation %></span>

			<select class="form-control" style="margin-top: 10px; margin-bottom: 10px;" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
				<option disabled selected>Select Site Location...</option>
				<% rpi_location.forEach(function(item){ %>
					<option value="/show-campaigns/<%= item.RpiID %>"><%= item.RpiID %> | <%= item.Room %></option>
				<% }); %>
			</select>
			<table class="table table-hover table-striped">
				<thead>
					<th>CampaignID</th>
					<th>File Type</th>
					<th>Name</th>
					<th>Preview</th>
					<th>Status</th>
				</thead>
				<tbody>
					<% var template_count = 0, campaign_count = 0 , active_campaign_count = 0, video_count = 0 , image_count = 0; %>
					<% rpi_campaign_complete.forEach(function(campaign){ %>
						<% var temp, template_name;%>
						<% if (ID == campaign.RpiID) { %>
							<tr>
								<td><span class="badge"><%=campaign.CampaignID %></span></td>
								<% for (var i = 0; i < aircast_campaign.length; i++) { %>
									<% if (campaign.CampaignID == aircast_campaign[i].CampaignID) {  %>
										<% temp = aircast_campaign[i].Template; var param; var hasData = false; %>
										<% if (temp == 'temp4') { temp = 'Image' %>
										<% } else if (temp == 'temp2') { temp = 'Video' %>
										<% } else { temp = 'Template' } %>
										<td><%= temp %></td>
										<% if (campaign.isReady == 0) { %>
											<td><img src="/img/icon-not-ready.png" class="status-icon"><%= aircast_campaign[i].CampaignName %></td>
										<% }else { %>
											<td><img src="/img/icon-ready.png" class="status-icon"><%= aircast_campaign[i].CampaignName %></td>
										<% } %>
										<% template_name = aircast_campaign[i].CampaignName %>
									<% } %>
								<% } %>
	
								<% for (var i = 0; i < campaign_files.length; i++) { %>
									<% if (temp == 'Template') {%>
									<% template_count++; %>
										<%if (template_name == 'AircastRestaurant' || template_name == 'AircastRestoPortrait') { %>
											<td><button data-type="Image" data-link="https://s3-ap-southeast-1.amazonaws.com/rpitv/Template-preview/aircast-nearby-restaurant.png" onclick='previewCampaign(this)'>preview</button></td>
										<% } else if (template_name == 'AircastNews' || template_name == 'AircastNewsPortrait') { %>
											<td><button data-type="Image" data-link="https://s3-ap-southeast-1.amazonaws.com/rpitv/Template-preview/aircast-news.png" onclick='previewCampaign(this)'>preview</button></td>
										<% } else if (template_name == 'AircastWeather' || template_name == 'AircastWeatherPortrait') { %>
											<td><button data-type="Image" data-link="https://s3-ap-southeast-1.amazonaws.com/rpitv/Template-preview/aircast-weather.png" onclick='previewCampaign(this)'>preview</button></td>
										<% } else if (template_name == 'AircastCurrency' || template_name == 'AircastCurrencyPortrait') { %>
											<td><button data-type="Image" data-link="https://s3-ap-southeast-1.amazonaws.com/rpitv/Template-preview/aircast-currency.png" onclick='previewCampaign(this)'>preview</button></td>
										<% } else if (template_name == 'AircastTwitter' || template_name == 'AircastTwitterPortrait') { %>
											<td><button data-type="Image" data-link="https://s3-ap-southeast-1.amazonaws.com/rpitv/Template-preview/aircast-twitter.png" onclick='previewCampaign(this)'>preview</button></td>
										<% } else if (template_name == 'AircastHugot' || template_name == 'AircastHugotPortrait') { %>
											<td><button data-type="Image" data-link="https://s3-ap-southeast-1.amazonaws.com/rpitv/Template-preview/aircast-hugot.png" onclick='previewCampaign(this)'>preview</button></td>
										<% } else if (template_name == 'AircastUpcomingMovies' || template_name == 'AircastUpcomingMoviesPortrait') { %>
											<td><button data-type="Image" data-link="https://s3-ap-southeast-1.amazonaws.com/rpitv/Template-preview/aircast-upcoming-movies.png" onclick='previewCampaign(this)'>preview</button></td>
										<% } else if (template_name == 'Instagram Post') { %>
											<td><button data-type="Image" data-link="https://s3-ap-southeast-1.amazonaws.com/rpitv/Template-preview/aircast-instagram.png" onclick='previewCampaign(this)'>preview</button></td>
										<% } else if (template_name == 'Facebook Posts') { %>
											<td><button data-type="Image" data-link="https://s3-ap-southeast-1.amazonaws.com/rpitv/Template-preview/aircast-facebook-post.png" onclick='previewCampaign(this)'>preview</button></td>
										<% } else if (template_name == 'Facebook Events') { %>
											<td><button data-type="Image" data-link="https://s3-ap-southeast-1.amazonaws.com/rpitv/Template-preview/aircast-facebook-events.png" onclick='previewCampaign(this)'>preview</button></td>
										<% } else { %>
											<td><button disabled="disabled">x</button></td>
										<% } %>
									<% break; } %>
									<% if (campaign.CampaignID == campaign_files[i].CampaignID) {  %>

										<% if (temp == 'Video'){ %>
											<% video_count++ %>
										<% }else{ %>
											<% image_count++; %>
										<% } %>

										<% if (temp != 'Template') { %>
											<td><button data-type="<%= temp %>" data-link="https://s3-ap-southeast-1.amazonaws.com/rpitv/Aircast/<%= campaign_files[i].FileName %>" onclick='previewCampaign(this)'>preview</button></td>
										<% } %>
										
									<% } %>
								<% } %>

								<% campaign_count++; %>
								<% if (temp != 'Template') { %>
									<td class="td-enable"><button id="deleteCampaign-<%= campaign.CampaignID %>" onclick="confirmCampaignDelete(this)"><img style="width: 100%;" class="trash-image" src="/img/trash.png"></button></td>
								<% }else { %>
									<td class="td-enable"><button id="deleteCampaign-<%= campaign.CampaignID %>" onclick="confirmCampaignDelete(this)"><img style="width: 100%;" class="trash-image" src="/img/trash.png" style="color: grey;"></button></td>								
								<% } %>
									
								<% if (campaign.isEnabled == 0) { %>
									<td data-hasData="false"><input type="checkbox" id="campaign-<%= campaign.CampaignID %>" onchange="toggleCampaign(<%= campaign.CampaignID %>)" class="js-switch"></td>
								<% } else { %>
									<% active_campaign_count++; %>
									<td data-hasData="true"><input type="checkbox" id="campaign-<%= campaign.CampaignID %>" onchange="toggleCampaign(<%= campaign.CampaignID %>)" class="js-switch" checked></td>
								<% } %> 
							</tr>
						<% } %>
					<%});%>
				</tbody>

			</table>

			<a href="/show-campaigns" class="btn btn-primary">Go back</a> 
		</div>
		<div class="col-md-4" style="position: relative;">
			<button id="toggle-campaign" class="btn btn-primary">Show only active campaigns</button>
			<button id="show-stats" class="btn btn-success">Show Stats</button>
			<div id="aircast-preview-first">
				  <img src="/img/aircast-landscape.png" class="aircast-frame" style="width: 600px;">
				 <div class="quick-stats">
					 <h4>Quick Stats: </h4>
					 <hr>
					 <p>Tv Orientation: <%= orientation %></p>
					 <p>Number of Campaigns: <strong> <%= campaign_count %></strong></p>
					 <p>Active Campaigns: <strong> <%= active_campaign_count %></strong></p>
					 <p>Images Campaigns Count: <strong> <%= image_count %></strong></p>			 
					 <p>Video Campaigns Count: <strong><%= video_count %></strong></p>
					 <p>Templates Count: <strong> <%= template_count %></strong></p>				 
				 </div>
			</div>
			<div id="aircast-preview">
				
			</div>
		</div>
	</div>

<% include ./partials/footer %>