<% include ./partials/header %>
<% include ./partials/navigation %>

<div class="container">
	<div class="row">
		<div class="col-md-6">
			<form method="POST" action="/textblast">
				<div class="form-group">
					
					<% if (locals.success) { %>
						<h1>Message sent</h1>
					 <%} %>

					<h3>Send message to all our sites partners</h3>
					<!-- <label>Message</label> -->
					<textarea rows="5" class="form-control" name="message" placeholder="Type your message here..."></textarea>	
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-primary" value="Send Message">	
				</div>
			</form>
			<div class="well">
				<label>Last message sent: </label>
				<p><%= message_data.message %><p>
				<p class="text-right"><span class="badge"><%= message_data.created_at %></span></p>
			</div>
		</div>
		<div class="col-md-6">
			<div class="inner-addon right-addon">
			    <i class="glyphicon glyphicon-search icon-search" ></i>
			    <input type="text" class="form-control input-lg"  id="search" placeholder="Search..." />
			</div><br/>
			<div class="site_preview">
				<table class="table table-hover table-striped table-bordered" id="table-contacts">
				<tr>
					<th>Site Name</th>
					<th>Number</th>
					<th>Contact Person</th>
				</tr>
				<% results.forEach(function(item){ %>
					<tr>
						<td><%= item.Room %></td>
						<td><%= item.ContactPersonName %></td>
						<td><a href="tel:+63<%= item.MobileNumber %>">0<%= item.MobileNumber %></a></td>
					</tr>
				 <% }) %>
				</table>
			</div>
			<h4>We currently have: <span class="badge"><%= results.length %></span> site partners <small>(with contact number in the database)</small></h4>
		</div>
	</div>
</div>


<% include ./partials/footer %>