<% include ./partials/header %>
<% include ./partials/navigation %>

<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<h3>Send message to all our sites partners</h3>
				<!-- <label>Message</label> -->
				<textarea rows="5" class="form-control" name="message" id="message-to-all" placeholder="Type your message here..." required="required"></textarea>	
			</div>
			<div class="form-group">
				<input type="button" id="send-message-all" class="btn btn-primary" value="Send Message">	
			</div>
			<div class="well">
				<label>Last message sent: </label>
				<p><%= message_data.message %><p>
				<p class="text-right"><span class="badge"><%= message_data.created_at %></span></p>
			</div>
		</div>
		<div class="col-md-6">
			<div class="inner-addon right-addon">
			    <i class="glyphicon glyphicon-search icon-search" ></i>
			    <input type="text" class="form-control input-lg"  id="search" placeholder="Search..." />
			</div><br/>
			<div class="site_preview">
				<table class="table table-hover table-striped table-bordered" id="table-contacts">
				<tr>
					<th>Site Name</th>
					<th>Number</th>
					<th>Contact Person</th>
				</tr>
				<% results.forEach(function(item){ %>
					<tr>
						<td><%= item.Room %></td>
						<td><%= item.ContactPersonName %></td>
						<td><a href="tel:+63<%= item.MobileNumber %>">0<%= item.MobileNumber %></a></td>
					</tr>
				 <% }) %>
				</table>
			</div>
			<h4>We currently have: <span class="badge"><%= results.length %></span> site partners <small>(with contact number in the database)</small></h4>
		</div>
	</div>
</div>


<script type="text/javascript">
	$('#send-message-all').on('click',function(e) {
		e.preventDefault();
		var mess = $("#message-to-all").val();

		if (mess == '') {
	       	swal(
	          'Oops...',
	          'Don\'t forget to add your message',
	          'info'
	        )
		}else {
			$.ajax({ 
	            type: "POST",
	            url: "/textblast",
	            data: {message:mess}, 
	            dataType: 'json',
	            success: function(item){
	              console.log(item);
	              console.log('done');
	            },
	            error: function(err) {
	              console.log(err);
	            }
	        });

	        swal({
	          title: 'Sending Your Messages',
	          text: 'this will only take a few seconds',
	          timer: 5000,
	          onOpen: () => {
	            swal.showLoading()
	          }
	        }).then((result) => {
	          if (result.dismiss === 'timer') {
	                  $("#message-to-all").val('');  
	                  swal(
	                    'Message Sent!',
	                    '',
	                    'success'
	                  )
	          }
	        })
		}
	})
</script>


<% include ./partials/footer %>