<% include ./partials/header %>
<% include ./partials/navigation %>

	<div class="container">
		<div class="col-md-8">
			<% rpi_location.forEach(function(item){ %>
				<% if (item.RpiID == ID) { %>
					<h1><%= item.Room %> <small>(RpiID: <span id="tv_id"><%= item.RpiID %></span>)</small></h1>
				<% } %>
			<% }); %>

			<select class="form-control" style="margin-top: 10px; margin-bottom: 10px;" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
				<option disabled selected>Select Site Location...</option>
				<% rpi_location.forEach(function(item){ %>
					<option value="/templates-manager/<%= item.RpiID %>"><%= item.RpiID %> | <%= item.Room %></option>
				<% }); %>
			</select>
				
			<table class="table table-hover table-striped">
				<thead>
					<th>Template</th>
					<th>isEnabled</th>
					<th>Paramater</th>
					<th>Update</th>
				</thead>
				<tbody>
					<% rpi_campaign.forEach(function(item){ %>
						<tr><% if (ID == item.RpiID ) { %>
								<% var temp = item.Template; var param; var hasData = false; %>
								<% if (temp == 'temp10') { temp = 'News'} %>
								<% if (temp == 'temp11') { temp = 'Nearby Restaurant'} %>
								<% if (temp == 'temp12') { temp = 'Weather'} %>
								<% if (temp == 'temp13') { temp = 'Currency'} %>
								<% if (temp == 'temp14') { temp = 'Twitter'} %>
								<% if (temp == 'temp15') { temp = 'Hugot'} %>
								<% if (temp == 'temp16') { temp = 'Upcoming Movies'} %>
								<% if (temp == 'temp17') { temp = 'News'} %>
								<% if (temp == 'temp18') { temp = 'Weather Portrait'} %>
								<% if (temp == 'temp19') { temp = 'Currency Portrait'} %>
								<% if (temp == 'temp20') { temp = 'Twitter Portrait'} %>
								<% if (temp == 'temp22') { temp = 'Hugot Portrait'} %>
								<% if (temp == 'temp23') { temp = 'Restaurant Portrait'} %>
								<% if (temp == 'temp23') { temp = 'Upcoming Movies Portrait'} %>
								<% if (temp == 'temp26') { temp = 'Instagram Post'} %>
								<% if (temp == 'temp27') { temp = 'Facebook Post'} %>
								<% if (temp == 'temp28') { temp = 'Facebook Events'} %>
								<td><%= temp %></td>
								<% if (item.isEnabled == 0) { %>
									<td><input type="checkbox" id="campaign-<%= item.CampaignID %>" onchange="toggleCampaign(<%= item.CampaignID %>)" class="js-switch"></td>
								<% } else { %>
									<td><input type="checkbox" id="campaign-<%= item.CampaignID %>" onchange="toggleCampaign(<%= item.CampaignID %>)" class="js-switch" checked></td>
								<% } %> 
								<% for(var i=0; i<campaign_files.length; i++) {%>
								   <% if (campaign_files[i].CampaignID == item.CampaignID) { param = campaign_files[i].FileName; hasData = true; break; } %></td>
								<% } %>
									<% if (hasData) { %>
										<td><input type="text" id="param-<%= item.CampaignID %>" class="form-control" value="<%= param %>"></td>
									<% }else { %>
										<td><input type="text" class="form-control" disabled placeholder="parameter not required"></td>
									<% } %>
								<% if (hasData) { %>
									<td><button class="btn btn-primary" onclick="updateParameter(<%= item.CampaignID %>)">Update</button></td>
								<% } else { %>
										<td><button class="btn btn-default" onclick="updateParameter(<%= item.CampaignID %>)" disabled>Update</button></td>
								<% } %>
								
								<% param = '';%>
							<% } %>
						</tr>
					<% }) %>
				</tbody>

			</table>

			<a href="/templates-manager" class="btn btn-primary">Go back</a> 
		</div>
		<div class="col-md-4">
			<div class="well">
				<ol type="1">
					<h1>Reminders</h1>
					<li>Our tv for aircast demo is @ RPIID 2 (Terminal)</li>
					<li>If you encouter "failed to save" message, refresh the browser and try again.</li>
					<li>When turning off the template on the tv, just press the toggle button and it should work.</li>
					<li>When changing the paramater (ex: facebook post content from jollibee to mcdo) make sure you disable first the template, then update the parameter, then wait 30 seconds to 1 minute before enabling again the template.</li>
					<li>Please dont leave the parameter empty, and make sure you double check the info before changing the paramater (ex: aircast id: 204348506747303)</li>
					<li>In order to get the facebook id, just go to this link <a href="https://findmyfbid.com/" target="_blank">https://findmyfbid.com/</a> and paste the url of the page (ex: https://www.facebook.com/aircastph), you can use facebook username or facebook id</li>
					<li>For instagram post, just get the username from instagram.</li>
					<li>Our twitter is currently set to #GPChristmasParty2017, we'll put a paramater soon.</li>


				</ol>
			</div>
		</div>
	</div>

<% include ./partials/footer %>